<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitacora_botanica</title>
    <link width="40" height="40"  rel="shortcut icon" href="../static/logo/logo_small_icon_only_inverted.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',  filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <h3  class="text-center"> <a class="navbar-brand" href="#">
            <img src="../static/logo/logo_small_icon_only_inverted.png" width="40" height="40" alt="">
          </a> Bienvenido : {{user.first_name}} {{user.last_name}}, </h3>
        <a href="/logout" class="btn btn-info">Salir</a>
    </nav>
    <div>
        <center>
        <img class="logo" name="logo" src="../static/logo/logo_small.png"></img>
        </center>
    </div><br><br>
    <div class="d-flex col-12 justify-content-around">
        <a href="/new/bitacora_botanica" class="btn btn-primary">Agregar una especie</a>
    </div>

 
    <div class="mx-auto">
        <br><br>
        <center class="col-8 mx-auto">
            <form action="../../form-result.php" method="post" target="_blank">
                <p>
                  <input type="search" name="busquedaDiccionarios" placeholder="Buscar...">
                  <input type="submit" class="btn btn-primary" value="Buscar">
                </p>
            </form>
        </center>
            <br><br>

        <!-- <div class="col-8 mx-auto">
        <h4>La Bitacora botanica</h4><br>
        <p>La bitacora botanica le da la bienvenida a todas las personas que desean aportar informacion relevante al mundo de la 
        botanica, clasificando la informacion pertinente adaptandose a los datos requeridos como pagina, que son los minimos para 
        la clasificacion de una especie</p>
        <p>La finalidad de esta comunicadad es aportar datos del mundo de la botanica para las personas que se sientan con la necesidad de
        de obtener esta informacion con fines informativos o cientificos. Para participar en esta pagina: estara disponible para todo aquel
        que se sienta preparado  para compartir su informacion detallada, apoyada de bibliografia pertinete a la informacion colocada.  -->
    

        <div class="col-8 mx-auto">
        <h4>La Bitacora botanica</h4><br>
        <p>Antes de agregar una especie asegurate que tus datos sean veridicos, ademas de tener los datos minimos para la clasificacion de una especie
        como por ejemplo: <strong>Especie, Veriedad, Familia, Descripcion, cultivo y Lugar observado</strong>.  Se recomienda Ademas acompañar toda la informacion con una <strong>bibliografia
        o referencia</strong> a fin a la especie conseguida
        </p>
        
    
        </div >
        <br><br>
        <table class="table table-hover col-8 mx-auto">
            <h4 class="table table-hover col-8 mx-auto">General</h4>
            <thead>
                <tr>
                    <th>Especie</th>
                    <th>Familia</th>
                    <th>Variedad</th>
                    <th>Fecha de Calsificacion</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for bitacora_botanica in bitacora_botanica %}
                    <tr>
                        <td>{{bitacora_botanica.name}}</td>
                        <td>{{bitacora_botanica.Familia}}</td>
                        <td>{{bitacora_botanica.Variedad}}</td>
                        <td>{{bitacora_botanica.date_made.strftime('%Y-%m-%d')}}</td>
                        <td>
                            <a href="/bitacora_botanica/{{bitacora_botanica.id}}">Ver-Info</a>
                            {% if bitacora_botanica.user_id == session.user_id %}
                            <a href="/edit/bitacora_botanica/{{bitacora_botanica.id}}">Editar</a>
                            <a href="/destroy/bitacora_botanica/{{bitacora_botanica.id}}">Borrar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <table class="table table-hover col-10 mx-auto">
            <h4 class="table table-hover col-10 mx-auto">Diccionarios Disponibles</h4>
            <thead>
                <tr>
                    <th><a href="#"><strong>Suculenta</strong></a></th>
                    <th><a href="#"><strong>CactusSuculenta</strong></a></th><strong></strong>
                    <th><a href="#"><strong>Hortalizas</strong></a></th>
                    <th><a href="#"><strong>Herbaceas</strong></a></th>
                    <th><a href="#"><strong>Frutales</strong></a></th>
                    <th><a href="#"><strong>Bulbosas</strong></a></th>
                    <th><a href="#"><strong>Geofitas</strong></a></th>
                    <th><a href="#"><strong>Hongos</strong></a></th>
                    <th><a href="#"><strong>Medicinales</strong></a></th>
                </tr>
                </tr>
            </thead>
        </table>
        <div>
            <footer >
              <ul class="nav justify-content-center border-bottom bg-light pb-4 mb-0">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
              </ul>
              <p class="text-center text-muted"><img src="../static/logo/logo_small_icon_only.png" width="40" height="40" alt=""> &copy; 2022 Por Alex Arce, Ing.Agronomo</p>
            </footer>
        </div>
    </div>
</body>
</html>