<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitacora_botanica</title>
    <link width="40" height="40"  rel="shortcut icon" href="../static/logo/logo_small_icon_only_inverted.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',  filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <h3  class="text-center"> <a class="navbar-brand" href="#">
            <img src="../../static/logo/logo_small_icon_only_inverted.png" width="40" height="40" alt="">
          </a> Bienvenido : {{user.first_name}} {{user.last_name}}, </h3>
        <a href="/logout" class="btn btn-info">Salir</a>
    </nav>
    <div>
        <center>
        <img class="logo" name="logo" src="../../static/logo/logo_small.png"></img>
        </center>
    <div class="card col-10 mx-auto my-5 bg-dark text-light">
        <div class="card-body">
            <h2 class="card-text">Especie : {{bitacora_botanica.name}}</h2><br>
            <p class="card-text">Familia:  {{bitacora_botanica.Familia}}</p>
            <p class="card-text">Variedad:  {{bitacora_botanica.Variedad}}</p>
            <p class="card-text">Fecha de Clasificacion:  {{bitacora_botanica.date_made.strftime('%Y-%m-%d')}}</p>
            <p class="card-text">Lugar Observado:  {{bitacora_botanica.lugarobservado}}</p>
            <p class="card-text">Cultivo:  {{bitacora_botanica.cultivo}}</p>
            <p class="card-text">Descripcion:  {{bitacora_botanica.description}}</p>
            <p class="card-text">Bibliografia:  {{bitacora_botanica.bibliografia}}</p>
        </div>
    </div><br><br>
    <div>
      <footer >
        <ul class="nav justify-content-center border-bottom bg-light pb-4 mb-0">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted"><img src="../static/logo/logo_small_icon_only.png" width="40" height="40" alt=""> &copy; 2022 Por Alex Arce, Ing.Agronomo</p>
      </footer>
  </div>
</body>
</html>